<div id="aristotle-discovery-layer">
	{# <img src="{{ url_for('static', filename="img/discovery-coloradocollege-edu.png") }}"> 
	<h2>
	<a href="http://discovery.coloradocollege.edu/">http://discovery.coloradocollege.edu/</a>
	</h2>
	<h1>Aristotle Discovery Layer</h1>
	<h2>(2011-)</h2>

	<p class="lead">

	</p>
	#}
	<img src="https://www.python.org/static/img/python-logo.png">
	<ul class="lead">
	<li>Started as a fork of the Django-based Kochief (http://code.google.com/p/kochief/)</li>
	<li>Indexes MARC21 records exported from legacy catalog into Apache Solr (https://lucene.apache.org/solr/)</li>
	<li>Runs on a Ubuntu server VM on Colorado College's VMWare cluster</li>
	<li>The <a href="https://github.com/edsu/pymarc">pymarc</a> Python module critical to parsing/processing</li>
	<li>Repository available at 
	<a href="https://github.com/jermnelson/Discover-Aristotle">https://github.com/jermnelson/Discover-Aristotle</a></li>
	</ul>  
	<br>
	<br>
	<img src="https://www.python.org/static/img/python-logo.png">
	<ul class="lead">
	<li>Based on Django</li>
	<li>API interface to Redis Datastore using <a href="https://github.com/andymccurdy/redis-py">redis-py</a> module</li>
	<li>Fedora commons digital repository utilities created in Python with Django and Bootstrap for the front-end</li>
	<li>Source code for the Redis Library Services Platform is in two open-source projects; the 
	  <ul>
	   <li>Aristotle Library Apps, source code available at <a href="https://github.com/jermnelson/aristotle-library-apps/">https://github.com/jermnelson/aristotle-library-apps</a></li>
	   <li>BIBFRAME Datastore, source code availlable at <a href="https://github.com/jermnelson/BIBFRAME-Datastore">
	    https://github.com/jermnelson/BIBFRAME-Datastore</a></li>
      </ul>
	</li>
	
	</ul>
</div>