<div class="panel panel-default" style="margin: 1em;width: 800px">
  <div class="panel-heading">
    <h1 class="panel-title" style="font-size: 36px !important">Linked Data BIBFRAME Vocabulary</h1>
  </div>
  <div class="panel-body">
   <p class="lead">
   BIBFRAME - short for Bibliographic Framework - is the work of the Library of 
   Congress's <a href="http://www.loc.gov/bibframe/">Bibliographic Framework Initiative</a>.
   BIBFRAME is intended to replace MARC21 in the next few years. 
   This initiative started with a press release by the Library of Congress in November 2011. 
   Since that time, a formal LinkedData vocabulary was released in January 2013 at 
   <a href="http://bibframe.org">http://bibframe.org</a> followed most recently with a major 
   revision of the vocabulary in the Fall of 2013. 
   </p>
   <p class="lead">
    The BIBFRAME model is built using RDF classes and properties and has four core classes:
    (taken from <a href="http://bibframe.org/vocab-model/">http://bibframe.org/vocab-model/</a>) 
   </p>
   <ul class="lead">
     <li><strong>Creative Work</strong> - a resource reflecting a conceptual essence of the cataloging resource.</li>
     <li><strong>Instance</strong> -  resource reflecting an individual, material embodiment of the Work.</li>
     <li><strong>Authority</strong> -  a resource reflecting key authority concepts that have defined 
     relationships reflected in the Work and Instance. Example of Authority Resources include <em>People, Places, 
     Topics, Organizations</em></li>
     <li><strong>Annotation</strong> - a resource that enhances our knowledge about another resource when knowing, 
     minimally, 'who' is doing the annotating is important. Library Holdings, Cover Art and Reviews are examples
    types.</li>
   </ul>
  </div>
</div>

