<img src="https://www.python.org/static/img/python-logo.png">
 <ul class="lead">
  <li>Migrated to <a href="http://flask.pocoo.org/">Flask</a></li>
  <li>Released the following Flask Extensions under the MIT open-source license:
    <ul class="lead">
     <li><a href="https://github.com/jermnelson/flask_bibframe">Flask-BIBFRAME</a> - extension provides 
     Linked Data support for the BIBFRAME (<a href="http://bibframe.org/">http://bibframe.org/</a>) model 
     and vocabulary. Code at <a href="https://github.com/jermnelson/flask_bibframe">https://github.com/jermnelson/flask_bibframe</a></li>
     <li><a href="https://github.com/jermnelson/flask_schemaorg">Flask-SchemaOrg</a> - extension for supporting the 
      <a href="http://schema.org">http://schema.org</a> Linked Data vocabulary. Source code at 
      <a href="https://github.com/jermnelson/flask_schemaorg">https://github.com/jermnelson/flask_schemaorg</a>
     </li>
     <li><a href="https://github.com/jermnelson/flask-fedora-commons">Flask-FedoraCommons</a> - extension provides an interface to a 
      <a href="">Fedora Commons </a> digital repository. Code available at <a href="https://github.com/jermnelson/flask-fedora-commons">
       https://github.com/jermnelson/flask-fedora-commons.
      </a>
     </li>
    </ul>
  </li>
  <li>Using <a href="http://api.mongodb.org/python/current/">PyMongo</a> to store 
     JSON representations of LinkedData of MARC21, BIBFRAME, and Schema.org.
  </li>
  <li><a href="http://redis.io">Redis</a> is used for caching and analytics in the Catalog Pull Platform</li>
  <li><a href="https://lucene.apache.org/solr/">Solr</a> is used to index raw records for searching</li>
</ul>

