      <div id="redis-library-services-platform">
       <h1>Redis Library Services Platform</h1>
       <h2>(2011-2013)</h2>
        <table>
         <tr>
          <td>
            <img src="http://journal.code4lib.org/media/issue19/nelson/single-server-bibframe-datastore.png">
            <ul class="lead">
             <li>Redis Instance for bibliographic and operational data</li>
             <li>Scales to memory limitations of Redis</li>
             <li>Stored around
                 ~700k MARC21 records in about 20 GB RAM</li>

            </ul> 
          </td>
          <td>
            <img class="pull-left" src="{{ url_for('static', filename="img/prospector-redis-lib-services-platform.png") }}">
          </td>
         </tr>
        
        </table>
       <p>

       </p>
      </div>
