<div class="panel panel-success" style="margin: 1em;width: 800px">
  <div class="panel-heading">
    <h1 class="panel-title" style="font-size: 36px !important">Linked Data Schema.org Vocabulary</h1>
  </div>
  <div class="panel-body">
     <p class="lead">
      <a href="http://schema.org/">Schema.org</a>, a metadata vocabulary sponsored by major search engines like
      Google, Microsoft Bing, Yahoo, and Yandex, encourages web site designers 
      embedded descriptive metadata about digital and physical objects
      and its relationships with People and Organizations in their websites. 
      Schema.org is particularly of interest to libraries and other memory 
      institutions as it allows the their collections of artifacts to be easier to 
      describe and discovery by their users.
    </p>
   <img src="{{ url_for('static', filename='img/schema-org.png') }}" class="center-block">
  
 </div>
</div>
