      <div class="panel panel-primary" id="what-discovery-layer" style="width: 500px">
       <div class="panel-heading">
        <h1 class="panel-title">What is a Discovery Layer?</h1>
       </div>
       <div class="panel-body">
        <p class="lead">The user interface and search indices for finding, displaying, and 
          with the content in library systems that was inspired by both Google's 
          search and Amazon's user interfaces. Typically, a Discovery Layer includes all of the 
          print books, DVDs, Music CDs, and journals MARC records indexed into proprietary  
          search index or Apache's Solr Index. 
       </div>
      </div>
