<div class="panel panel-danger" id="zombie-marc">
	<div class="panel-heading">
	<h1 class="panel-title">Persistence of MARC21</h1> 
	</div>
	<div class="panel-body">
	<img src="http://www.loc.gov/marc/images/marc21h2.gif" class="pull-left">
	<p class="lead">MARC (an acronym for <b>MA</b>chine-<b>R</b>eadable <b>C</b>ataloging) 
	 is a data format for bibliographic, authority, and holdings data. The Library of Congress 
	 is responsible for initially creating MARC in the 1960s and continues to support to the
	 current time. The MARC format combines both fixed control fields and variable length fields
	 with a number of different subfields. Most library catalogs use MARC format, either using
	 the format natively or converting records encoded in MARC to relational database or other 
	 backend storage. Colorado College's Tutt Library has a collection of over
	 1,030,000 MARC21 records representing Colorado College's physical and online collections.
	</p> 
	</div>
</div> 