<!DOCTYPE HTML>
<html>
 <head>
   <title>Pycon 2014 Poster</title> 
 </head>
<body id="poster">
 
<script src="//cdnjs.cloudflare.com/ajax/libs/svg.js/1.0rc3/svg.min.js"></script>
<script>
 var draw = SVG('poster').size(4320, 4320);

 var posterTitle = draw.group();

 var posterLogo = draw.group();

 posterLogo.add(draw.image("{{ url_for('static', filename='img/pycon2014-logo.png') }}", 528, 105));
 posterLogo.add(draw.text("Jeremy Nelson").font({ size: 60, family: 'Helvetica' }).y(110));
 posterLogo.move(3500, 100);

 

</script>
</body>
</html>
