<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pycon 2014 Poster</title>
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34716333-1', 'intro2libsys.info');
  ga('send', 'pageview');
  </script>
    

    <!-- Bootstrap -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <style>
 
    </style>
  </head>
  <body class="container">
    <div class="well">
     <h3>PYCON 2014 Poster</h3>
     <h1>Replacing a Legacy Library Catalog @ Colorado College</h1>

     <div class="row">
      <div class="col-md-6">
       <img src="{{ url_for('static', filename='img/poster-photo.png') }}" class="img img-thumbnail">
      </div>
      <div class="col-md-6">
       <p class="lead">This companion webpage accompanies a poster session by Jeremy Nelson
       at the annual Python programming conference, <a href="https://us.pycon.org/2014/">PYCON 2014</a>. 
       
       </p> 
      </div>
     </div> 
    </div>
   
    <div class="well">
     <div class="row">
       <div class="col-md-4">
        <h3>Web Application Hyperlinks</h3>
        <ul>
          <li><a href="http://discovery.coloradocollege.edu/">http://discovery.coloradocollege.edu/</a> 
           Existing Django Discovery Layer for Colorado College, licensed under Apache 2</li>
          <li><a href="http://tuttdemo.coloradocollege.edu/">http://tuttdemo.coloradocollege.edu/</a> - 
          Redis Demostration Discovery Layer using MARC21 records from Prospector and Colorado College's digital archives, licensed 
          under Apache2</li>
          <li><a href="http://catalog.coloradocollege.edu/">http://catalog.coloradocollege.edu/</a> -
          First MVP of new catalog for Colorado College using the <a href="http://intro2libsys.info/catalog-pull-platform/">Catalog Pull Platform</a>,
          licensed under th GPLv2.
          </li>
        </ul>
       </div>
       <div class="col-md-4">
        <h3>Source Code Repositories</h3>
        <ul>
         <li>Discovery Aristotle <a href="https://github.com/jermnelson/Discover-Aristotle">https://github.com/jermnelson/Discover-Aristotle</a> - 
         Forked from Kochief, uses Solr for search along with Django for the web-framework.</li>
         <li>Aristotle Library Apps <a href="https://github.com/jermnelson/aristotle-library-apps">href="https://github.com/jermnelson/aristotle-library-apps</a> 
          - Django HTML5 
          mobile and tablet apps for discovering, accessing, and managing library information. Bibliographic records 
          along with other library and organizational specific informations are linked, stored, and managed using Redis. 
         </li>
         <li>BIBFRAME-Datastore <a href="https://github.com/jermnelson/BIBFRAME-Datastore">https://github.com/jermnelson/BIBFRAME-Datastore</a>, 
           a Redis-based project for managing bibliographic records and operational data focused on libraries and other similar 
          information-based organization</li>
         <li><a href="https://github.com/jermnelson/flask_bibframe">Flask-BIBFRAME</a> - extension provides 
            Linked Data support for the BIBFRAME (<a href="http://bibframe.org/">http://bibframe.org/</a>) model 
           and vocabulary. Code at <a href="https://github.com/jermnelson/flask_bibframe">https://github.com/jermnelson/flask_bibframe</a></li>
         <li><a href="https://github.com/jermnelson/flask_schemaorg">Flask-SchemaOrg</a> - extension for supporting the 
           <a href="http://schema.org">http://schema.org</a> Linked Data vocabulary. Source code at 
           <a href="https://github.com/jermnelson/flask_schemaorg">https://github.com/jermnelson/flask_schemaorg</a>
         </li>
        <li><a href="https://github.com/jermnelson/flask-fedora-commons">Flask-FedoraCommons</a> - extension provides an interface to a 
         <a href="">Fedora Commons </a> digital repository. Code available at <a href="https://github.com/jermnelson/flask-fedora-commons">
         https://github.com/jermnelson/flask-fedora-commons.
         </a>
        </li>

        </ul>
       </div>
       <div class="col-md-4">
        <h3>Resources</h3>
        <dl>
           <dt><a href="http://bibframe.org">BIBFRAME.org</a></dt>
           <dd>Home of the Library of Congress BIBFRAME vocabulary</dd>

        </dl>

       </div>
     </div>
    </div>
    <footer>Copyright 2014 by Jeremy Nelson under CC-A</footer> 
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>

